<activity
    android:name=".SignUpActivity"
    android:exported="false" />
<activity
    android:name=".LoginActivity"
    android:exported="false" />
<activity
    android:name=".MyInfoActivity"
    android:exported="false" />
<activity
    android:name=".MainActivity"
    android:exported="true"> 